{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "printWidth": 80,
  "jsxSingleQuote": true,
  "arrowParens": "avoid",

  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^\\.\\/components\\/.*$",
    "^\\.\\/hooks\\/.*$",
    "^\\.\\/pages\\/.*$",
    "^\\.\\/services\\/.*$",
    "^[./]",
    "\\.scss$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
