@import '../../../styles/variables';

.form-row {
  display: grid;
  align-items: center;
  grid-template-columns: 24rem 1fr 1.2fr;
  gap: 2.4rem;
  padding: 1.2rem 0;
  border-bottom: 1px solid $color-grey-100;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }

  &__label {
    font-weight: 500;
  }

  &__error {
    font-size: 1.4rem;
    color: $color-red-700;
  }
}
