@import '../../../styles/variables';

.styled-select {
  font-size: 1.4rem;
  padding: 0.8rem 1.2rem;
  border: 2px solid transparent;

  &.white {
    border-color: $color-grey-100;
  }

  &.default {
    border-color: $color-grey-300;
  }

  border-radius: $border-radius-sm;
  background-color: $color-grey-0;
  font-weight: 500;
  box-shadow: $shadow-sm;
  cursor: pointer;

  &:focus {
    outline: none;
    border: 2px solid $color-blue-500;
  }
}
