style.
  body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: white; 
      height: 100vh; 
      display: flex; 
      justify-content: center; 
      align-items: center;
  }
  .container {
      border: 1px solid rgb(37, 87, 191);
      max-width: 600px;
      margin: auto;
      font-family: Arial, sans-serif;
      border-radius: 10px;
      overflow: hidden;   
  }
  .static-content {
      padding: 10px 20px;
  }
  .header {
      background-color: rgb(37, 87, 191);
      padding: 10px 20px;
      height: 25px;
  }
  .content {
      font-size: 16px;
      color: #333;
      padding-bottom: 20px;
  }
  .footer {
      font-size: 14px;
      color: #666;
      border-top: 1px dashed rgb(37, 87, 191);
      text-align: left;
  }
  .bl1 {
      color: rgb(37, 87, 191); 
  }
  .bl2 {
      color: rgb(17, 14, 92);
  }
  h1, h4, p {
    margin: 10px 0;
  }
  .button {
      display: inline-block;
      padding: 10px 20px;
      background-color: rgb(37, 87, 191);
      color: white;
      border: none;
      border-radius: 5px;
      text-decoration: none;
      font-weight: bold;
  }
  .automatic-content {
      border-top: 1px dashed rgb(37, 87, 191);
      padding-top: 15px;
      color: black;
  }
  .welcome {
      font-size: 14px;
      color: #666;
  }
