extends base

block content
  .content
      h1.bitkingdom Reset Password Request
      p.welcome
          | You are about to reset your password. Don't worry, it's easy! Just click the button below and follow the steps.
      h5 Click here to reset password:
      a.button(href=url, style="color: white") Reset Password