extends base

block content
  .content
      h1.bitkingdom Welcome to 
          span.bl1 Bit
          span.bl2 Kingdom!
      p.welcome 
          strong(style="color: rgb(37, 87, 191)") #{firstName}
          | , we are glad that you have joined our community. Your decision to register is a great honor for us. Soon you will discover many exciting features and opportunities that we have prepared just for you!
      h5 Please confirm your email address by clicking the button below:
      a.button(href=url, style="color: white") Confirm Email Address