@import '../../styles/variables';
@import '../../styles/mixins';

.login-layout {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 48rem;
  align-content: center;
  justify-content: center;
  gap: 3.2rem;
  background-color: $color-grey-50;

  .heading {
    @include heading-styles;
  }
}
