@import '../../styles/variables';

.scroll-to-top {
  position: fixed;
  bottom: 10px;
  right: 6px;
  width: 35px;
  height: 35px;
  border: 2px solid $color-blue-500;
  background-color: $color-blue-500;
  box-shadow: $shadow-sm;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  z-index: 1000;

  &.visible {
    opacity: 1;
  }

  &:hover {
    background-color: $color-blue-600;
    color: $color-blue-50;
  }

  .arrowTop {
    color: white;
  }
}
