.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 35px;
  height: 35px;
  border: 2px solid var(--color-blue-500);
  background-color: var(--color-blue-500);
  box-shadow: var(--shadow-sm);
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  z-index: 1000;

  &.visible {
    opacity: 1;
  }

  &:hover {
    background-color: var(--color-blue-600);
    color: var(--color-blue-50);
  }

  .arrowTop {
    color: white;
  }
}
