.menu-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 0;
  border-radius: var(--border-radius-sm);
  cursor: pointer;

  &:hover {
    background-color: var(--color-grey-100);
  }
}

// 2 buttons, modal window, see details open, add to watchlist disabled if not authenticated

// .menu-disabled {
//   pointer-events: none;
//   color: grey;
//   opacity: 0.5;
// }
