.change {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-family: 'Varela Round';

  .arrow-icon-up {
    font-size: 1.75rem;
    margin-right: 0.5rem;
    color: var(--color-green-700);
  }

  .arrow-icon-down {
    font-size: 1.75rem;
    margin-right: 0.5rem;
    color: var(--color-red-700);
  }
}

.green-color {
  color: var(--color-green-700);
}

.red-color {
  color: var(--color-red-700);
}
