{
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "printWidth": 100,
  "jsxSingleQuote": true,
  "arrowParens": "always",
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^\\.\\/middleware\\/.*$",
    "^\\.\\/controllers\\/.*$",
    "^\\.\\/models\\/.*$",
    "^\\.\\/routes\\/.*$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
