.star-icon {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--color-grey-300);
  cursor: pointer;

  &:hover {
    color: var(--color-gold);
  }

  .filled-star {
    color: var(--color-gold);
  }
}

.icon-disabled {
  pointer-events: none;
  color: grey;
  opacity: 0.5;
}
