@import '../../../styles/variables';

.star-icon {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: $color-grey-300;
  cursor: pointer;

  &:hover {
    color: $color-gold;
  }

  .filled-star {
    color: $color-gold;
  }
}
