.filter-button {
  background-color: var(--color-grey-0);
  border: none;
  border-radius: var(--border-radius-sm);
  font-weight: 500;
  font-size: 1.4rem;
  padding: 0.44rem 0.8rem;
  transition: all 0.3s;

  &.active {
    background-color: var(--color-blue-500);
    color: var(--color-blue-50);
  }

  &:hover:not(:disabled) {
    background-color: var(--color-blue-500);
    color: var(--color-blue-50);
  }
}
