@import '../../../styles/variables';

.input {
  border: 1px solid $color-grey-300;
  background-color: $color-grey-0;
  border-radius: $border-radius-sm;
  padding: 0.8rem 1.2rem;
  box-shadow: $shadow-sm;
  width: 100%;
}
