@import '../../styles/variables';
@import '../../styles/mixins';

.nav-list {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.nav-link {
  @include navigation-link;
}

.nav-link[data-disabled='false'] {
  pointer-events: none;
  color: grey;
  opacity: 0.5;
}
